.menu-letras {
    color: rgb(124, 56, 14);
}

.custom-navbar {
    height: 50px;
    /* Cambia este valor por el que tenga tu Navbar */
}

.custom-navbar img {
    height: 100%;
    /* La imagen ocupará toda la altura del Navbar */
}

.tiltuloVenganPues {
    font-family: 'Caveat', cursive;
    /* font-family: 'Covered By Your Grace', cursive; */
    color: rgb(236, 188, 57);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    transform: rotate(-35deg);
    /* El valor negativo indica la dirección de la rotación */
}

#basic-nav-dropdown {
    color: rgb(124, 56, 14);
}