.menu-letras {
    color: rgb(124, 56, 14);
}

.NavBar-Container {
    background-color: #FFFF;
    border: none;
    padding: 0;
}

.custom-navbar {
    height: 5vh;
    /* Cambia este valor por el que tenga tu Navbar */
}

.custom-navbar img {
    height: 50%;
    /* La imagen ocupará toda la altura del Navbar */
}

.tiltuloVenganPues {
    font-family: 'Caveat', cursive;
    /* font-family: 'Covered By Your Grace', cursive; */
    color: rgb(236, 188, 57);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    transform: rotate(-35deg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#basic-nav-dropdown {
    color: rgb(124, 56, 14);
}